body {
  font-size: 16px;
  color: rgb(66, 53, 53);
  background-color: lightyellow;
  font-family: 'Oxygen', sans-serif;
}

/* Page header*/

#navigation {
  background-color: lightblue;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
padding-top: auto;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Oxygen', sans-serif;
  color: rgb(66, 53, 53);
  font-size: 1.5em;
  font-weight: regular;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin: 0 0 0;
  padding: 0 0 0;
}

#nav-list a {
  color: blueviolet;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid rgb(66, 53, 53);
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: -43px;
  margin-right: 15px;
  border-radius: 3px;
  clear: both;
}

.navbar-collapse {
  padding: 0 0 0;
}
/* End of Page header */

/* Page content */

.page-container {
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding: 40px 40px 40px;
  background-color: lightblue;
  width: 80%;
  height: 700px;
  font-size: 0.875em;
  text-align: justify;
  overflow: auto;